<apex:component controller="skedTimesheetApprovalController" access="global">
    <apex:attribute assignTo="{!timesheetId}" name="timesheet" description="Related Timesshet Id" type="String" />
    
    <p>
        Hi {!ManagerName}, <br /><br />
        A timesheet has been submitted by {!ResourceName} for the time {!StartDate} to {!EndDate}.<br /><br />
        
        Thanks, <br />
        {!UserName}<br /><br />
            
	</p>
</apex:component>